@charset "UTF-8";
*{margin: 0; padding: 0;}
img{border: 0; vertical-align: top;}
ol,ul,li{ list-style: none;}
a{ text-decoration: none; color: #000;}
body{
    line-height: 1;
    font-family: 'Nanum Gothic', sans-serif;;
    font-family: 'Roboto', sans-serif;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
.center{ width: 1650px; margin: 0 auto;}
.clearFix::after{ content: ""; display: block; clear: both;}


#header{
    width: 100%;
    height: 91px;
    border-bottom: 1px solid #cccccc;
}
#header .logo{ 
    float: left;
    padding: 25px 0;
    margin-right: 50px;
    box-sizing: border-box;
}
#header .gnb{
    float: left;
    padding: 11px 0;
}
#header .gnb li{
    float: left;
    padding: 25px;
}
#header .gnb li:nth-child(2) a{
    color: #333;
}
#header .gnb li a{
    font-size: 19px;
    color: #999;
    font-weight: bold;
    letter-spacing: -2px;
}
#header .hd_right{
    float: right;
}
#header .hd_right li{
    float: left;
}
#header .hd_right li:first-child{
    width: 145px;
    height: 35px;
    border-radius: 18px;
    background-color: #e8e8e8;
    margin-top: 28px;
    cursor: pointer;
}
#header .hd_right li:first-child img{
    position: relative;
    left: 12px;
    top: 9px;
}
#header .hd_right li:nth-child(2){
    padding: 28px 20px 18px 20px;
    box-sizing: border-box;
}
#header .hd_right .fa-bars{
    font-size: 27px;
    margin: 32px 0;
}


#section h2{
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: -2px;
    padding: 60px 0 50px 0;
}
#section .sec_tab_main li{
    float: left;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 130px;
}
#section .sec_tab_main li.on{
    background-color: #333;
}
#section .sec_tab_main li.on a{
    color: #fff;
}
#section .sec_tab_main li a{
    font-size: 17px;
    letter-spacing: -1px;
    color: #444;
    font-weight: 600;
}
#section .sec_tab_like li{ 
    float: left;
    padding-right: 20px;
}
#section .sec_tab_like li.on a{
    color: #333;
}
#section .sec_tab_like li::before{
    display: block;
    width: 3px;
    height: 10px;
    content: "";
    transform: rotate(-45deg);
    background-color: #333;
    margin-left: -10px;
}
#section .sec_tab_like li a{
    font-size: 15px;
    font-weight: bold;
    color: #999;
    letter-spacing: -1px;
}
#section .sec_tab_like li:hover a{
    color: #333;;
}
#section .sec_contents{
    margin-top: 30px;
}
#section .sec_contents li{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
#section .sec_contents li:nth-child(4n){
    margin-right: 0;
}
#section .sec_con_box{
    position: relative;
}
.sec_con_box_bg{
    width: 390px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 50px 20px 50px 20px;
}
#section .sec_contents .sec_con_box_text{
    width: 390px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50px 20px 50px 20px;
    box-sizing: border-box;
}
.sec_con_box_hover{
    width: 390px;
    height: 500px;
    border-radius: 50px 20px 50px 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    background-color: transparent;
}
.sec_con_box:hover .sec_con_box_hover{
    background-color: rgba(0, 0, 0, 0.47);
}
#section .sec_contents .text_img1{
    background-image: url(img/parentslab_20221027_162120000956.jpeg);
}
#section .sec_contents .text_img2{
    background-image: url(img/parentslab_20221027_161332000048.jpg);
}
#section .sec_contents .text_img3{
    background-image: url(img/parentslab_20221027_160226000206.png);
}
#section .sec_contents .text_img4{
    background-image: url(img/parentslab_20221027_155023000844.jpg);
}
#section .sec_contents .text_img5{
    background-image: url(img/parentslab_20221027_154250000854.jpg);
}
#section .sec_contents .text_img6{
    background-image: url(img/parentslab_20221027_153007000051.jpg);
}
#section .sec_contents .text_img7{
    background-image: url(img/parentslab_20221027_152419000861.jpg);
}
#section .sec_contents .text_img8{
    background-image: url(img/parentslab_20221027_151432000166.jpg);
}
#section .sec_contents .sec_con_box_text li{
    color: #fff;
}
#section .con_box_top{
    display: flex;
    justify-content: space-between;
    padding: 60px 34px;
}
#section .con_box_top li{
    color: #fff;
    margin: 0;
}
#section .con_box_top li:first-child::before{
    display: block;
    width: 10px;
    height: 10px;
    content: url(img/my_profile_5.svg);
}
#section .con_box_bot{
    color: #fff;
    padding: 90px 34px;
    position: relative;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}
#section .con_box_bot>span{
    background-color: #eee;
    color: #000;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
    color: #333;
}
#section .con_box_bot h2{
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 37pt;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
#section .con_box_bot p{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
}
#section .con_box_bot .con_box_bot_m{
    position: absolute;
    bottom: 47px;
    left: 35px;
}
#section .con_box_bot .con_box_bot_m li{
    margin: 0;
    padding-right: 40px;
}
#section .con_box_bot .con_box_bot_m .view{
    margin-left: 30px;
}
#section .con_box_bot .con_box_bot_m .view::before{
    display: block;
    width: 20px;
    height: 20px;
    content: url(img/ico-view-w.svg);
    position: absolute;
    top: -3px;
    left: 0;
}
#section .con_box_bot .con_box_bot_m .like::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    content: url(img/heart-regular.png);
    position: absolute;
    top: 0;
    right: 103px;
}
#section .con_box_bot .con_box_bot_m .comment::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    content: url(img/ico-comment-w.svg);
    position: absolute;
    top: -3px;
    right: 57px;
}


#footer{
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 90px;
    padding-top: 40px;
    padding-bottom: 90px;
}
#footer .f_left{
    float: left;
}
#footer .f_left .f_menu{
    margin-bottom: 30px;
}
#footer .f_left .f_menu li{
    float: left;
    padding-right: 30px;
}
#footer .f_left .f_menu li a{
    color: #161616;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
}
#footer .f_left .f_menu li:hover a{
    text-decoration: underline;
}
#footer .f_left p{
    color: #999;
    font-size: 14px;
}
#footer .f_right{
    float: right;
}
#footer .f_right li{
    float: left;
    margin-left: 20px;
}